<div>
    <div class="site-blocks-cover overlay" style="background-image: url(../assets/styles/images/vila/cela.jpg);"
        data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <span class="caption mb-3">{{ translations.labels.common.vilasrebrnojezero }}</span>
                    <h1 class="mb-4">{{ translations.labels.search_rooms.reserve_rooms }}</h1>
                </div>
                <div class='detaljnije'
                    onclick='document.getElementById("start").scrollIntoView({behavior: "smooth"});'>
                    <h2 class="caption" style='margin:0;cursor:pointer'>{{ translations.labels.common.rooms }}</h2><br>
                    <i style='cursor:pointer' class='fas fa-angle-double-down'></i>
                </div>

            </div>

        </div>
    </div>

    <app-reservation-form *ngIf='showForm' (closeForm)='closeForm($event)' (goToPayment)='goToPayment($event)'
        [reservation]='finalReservation'>
    </app-reservation-form>

    <app-payment-form *ngIf='showPaymentForm' (closeForm)='closeForm($event)' (prevStep)='goBack($event)'
    id='payment-form' [reservation]='finalReservation'>
    </app-payment-form>

    <div class="site-section border-top" id='start'>
        <div class="container-fluid" style='padding-left:5%;padding-right:5%'>
            <div class='row info'>
                <div class='col-lg-3 col-md-3 col-sm-6 text-center my-auto dateHeading'>
                    <h4>{{ formattedDate(date1) }}</h4>
                    <h4 class='room-dash'> - </h4>
                    <h4>{{ formattedDate(date2) }}</h4>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 text-center my-auto'>
                    <h4>{{ adults }} x <i class="fas fa-user"></i></h4>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 text-center my-auto'>
                    <h4>{{ kids }} x <i class="fas fa-child"></i></h4>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 text-center my-auto'>
                    <h4>{{ rooms }} x <i class="fas fa-bed"></i></h4>
                </div>
            </div>

            <br><br>


            <div class='row'>
                <h3>
                    {{ translations.labels.search_rooms.recommendation }}{{ getNights(date1, date2) }} {{ translations.labels.common.nights }}
                </h3>
            </div>

            <div style='margin-bottom: 40px'>
                <div *ngFor='let room of suggest' style='background: rgba(177, 245, 233, 0.2); 
            padding:20px; display: flex; flex-direction: column;
            border: 1px solid rgba(62, 193, 172, 0.9); border-bottom: none;'>
                    <div style='display: flex; flex-direction:row; justify-content:space-between'>
                        <div>
                            <div>
                                {{ room.amount }} X {{ translations.labels.common[room.type] }}
                            </div>
                            <div>
                                <span *ngFor='let r of room.rooms'>
                                    <span *ngIf='r.extra_beds_used'>
                                        +{{ r.extra_beds_used }}
                                        <span *ngIf='r.extra_beds_used == 1'>{{ translations.labels.common.extra_bed }}</span>
                                        <span *ngIf='r.extra_beds_used > 1'>{{ translations.labels.common.extra_beds }}</span>
                                        <span>
                                            (
                                            <span>
                                                {{ getExtraBedPrice(r).str }}
                                            </span>
                                            )
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div>
                                {{ room.amount }} X {{ room.price }} {{ getAllExtraBedPrice(room).str }} = {{
                                getRoomPrice(room) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div style='background: rgba(177, 245, 233, 0.4); 
            padding:10px; cursor:pointer; text-align: center;
            border: 1px solid rgba(62, 193, 172, 0.9);' (click)='reserveSuggest()'>

                    <b>{{ translations.labels.search_rooms.reserve_for }} {{ getSumPrice(suggest) }}</b>

                </div>

            </div>




            <div class='row'>
                <h3>
                    {{ translations.labels.search_rooms.all_available_rooms }}
                </h3>
            </div>

            <div class='row'>
                <div class='col-lg-12 col-md-12 col-sm-12'>
                    <div class='row rooms-header text-center'>
                        <div class='col-lg-2 col-md-2 col-sm-6 my-auto'></div>
                        <div class='col-lg-3 col-md-3 col-sm-6 my-auto'>
                            <h5>{{ translations.labels.search_rooms.name }}</h5>
                        </div>
                        <div class='col-lg-3 col-md-3 col-sm-2 my-auto'>
                            <h5>{{ translations.labels.search_rooms.beds }}</h5>
                        </div>
                        <div class='col-lg-2 col-md-2 col-sm-4 my-auto'>
                            <h5>{{ translations.labels.search_rooms.amount }}</h5>
                        </div>
                        <div class='col-lg-2 col-md-2 col-sm-4 my-auto'>
                            <h5>{{ translations.labels.search_rooms.price }}</h5>
                        </div>

                    </div>
                    <div *ngFor='let room of allRooms' class='allRooms'>
                        <div class='row text-center'>
                            <div class='col-lg-2 col-md-2 col-sm-6 my-auto'>
                                <img class='roomImage'
                                    src='{{ "../assets/styles/images/sobe/" + getImage(room.type) + ".jpg"  }}'>
                            </div>
                            <div class='col-lg-3 col-md-3 col-sm-6 my-auto' style='overflow-wrap:break-word;'>
                                <h5>
                                    {{ translations.labels.common[room.type] }}
                                </h5>
                            </div>
                            <div class='col-lg-3 col-md-3 col-sm-4 my-auto'>
                                <span class='room-info'>{{ translations.labels.search_rooms.beds }}</span>
                                <i *ngFor='let e of [].constructor(room.rooms[0].adults); let i = index'
                                    class="fas fa-user" style='margin-right:3px'></i>
                                <span *ngIf='room.rooms[0].extra_beds>0'> + </span>
                                <i *ngFor='let e of [].constructor(room.rooms[0].extra_beds); let i = index'
                                    class="fas fa-child" style='margin-right:3px'></i>
                            </div>
                            <div class='col-lg-2 col-md-2 col-sm-4 my-auto'>
                                <span class='room-info'>{{ translations.labels.search_rooms.amount }}</span>
                                <select [id]="'roomAmount-' + room.type" style='width: 3em'
                                    (change)="selectAmount($event.target.value, room)">
                                    <option *ngFor='let e of [].constructor(room.amount+1); let i = index'>
                                        {{ i }}
                                    </option>
                                </select>
                                <div *ngIf='room.rooms[0].extra_beds'>
                                    <div [id]="'roomExtra-' + room.type" style='padding-top: 15px;display: none'>
                                        <input type='checkbox' name='extra_bed'>
                                        <label for="extra_bed">{{ translations.labels.common.extra_bed }}</label>
                                    </div>
                                </div>


                            </div>
                            <div class='col-lg-2 col-md-2 col-sm-4 my-auto'>
                                <span class='room-info'>{{ translations.labels.search_rooms.price }}</span>
                                <span [id]="'roomPrice-' + room.type">RSD {{ getPrice(room) }}</span>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- <div class='col-lg-3 col-md-3 col-sm-3' style='background-color: lightgrey'>

            </div> -->
            </div>


            <div *ngIf='getSumPrice(manualReservationArray) > 0' class='row text-center reserveButton'>
                <div class='col'>
                    <button (click)='reserve(manualReservationArray)'>
                        {{ translations.labels.search_rooms.reserve_for }}{{ getSumPrice(manualReservationArray) }}
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>