.room {
    background-color: blanchedalmond;
    padding:20px;
    margin: 20px;
}

.info {
    background-color: white;
    padding: 8px;
    border-radius:20px; 
    /* border:1px solid gray;
    box-shadow: 2px 1px 8px 2px darkgrey; */
    border: 1px solid rgba(62, 193, 172, 0.8); 
    box-shadow: 1px 1px 15px 1px rgba(62, 193, 172, 0.5)
}

.roomImage {
    width:100%;
    border-radius: 8px;
    border:1px solid gray;
    box-shadow: 2px 1px 8px 2px darkgrey;
}

.allRooms {
    /* background: rgba(62, 193, 172, 0.3);
    padding:20px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5), 3px 3px 8px white inset;
    margin-bottom:10px */
    background: rgba(177, 245, 233, 0.1); 
            padding:20px; display: flex; flex-direction: column;
            border: 1px solid rgba(62, 193, 172, 0.6);
    margin-bottom: 10px;
}

.room-info {
    display: none;
}

@media screen and (max-width: 768px) {
    .rooms-header {
        display: none
    }
    .room-info {
        margin-top:15px;
        display: block;
    }
}

.dateHeading h4 {
    display:inline
}

@media screen and (max-width: 1384) {
    .room-dash {
        display:none
    }
}

.reserveButton button {
    font-size: x-large;
    margin-top:8px;
    padding:10px;
    background-color:rgba(62, 193, 172, 0.3);
    border-radius: 25px;
    cursor: pointer
}

.disabled :not(.not-disabled) {
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.2;
  background: #CCC;
}


.loading {
    margin:auto;
    text-align: center;
  }