

<button class='newReservationButton' (click)='showNewReservation()' *ngIf="!reservationDialog">
    +
</button>

<div class="adminContentContainer">

    <div id='msg-popup' class='hide'> {{ message }} </div>


    <div class="row">
        <div class="col">
            <div style='display:inline-block; align-items: center;margin-bottom: 30px;'>
                <span style='margin-left:20px'>Calendar View</span>
                <!-- Rounded switch -->
                <label class="switch" style='margin-left:10px; margin-bottom: 0;'>
                    <input type="checkbox" [(ngModel)]="calendarView" name="calendarView"> 
                    <span class="slider round"></span>
                </label>
            
            </div>
        </div>
        <div class="col">
            <div style='display:flex; align-items: center; position:relative; float:right; margin-right: 30px;'>
                <input type='text' class='form-control' (input)="searchReservations($event.target.value)"
                [(ngModel)]="searchTerm" name="searchTerm"
                style='background: url(../../../assets/styles/images/icons/search.png) no-repeat scroll 7px 7px; padding-left: 50px;'>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div style="width: 140px; margin-left: 30px">
                <!-- <span>Month: </span> -->
                <select class='form-control'  [(ngModel)]="curMonth" class='form-control' name="curMonth" (change)="changeMonth($event.target.value)">
                    <option *ngFor='let month of months'>
                        {{ month }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col">
            <div style="margin-right: 30px; display: flex; gap: 10px; align-items: center; float:right">
                <!-- <span>Room: </span> -->
                <select class='form-control' style="width: 130px;" (change)="filterByRoom($event.target.value)">
                    <option value="0">
                        All rooms
                    </option>
                    <option *ngFor='let room of rooms'>
                        {{ room.id }}
                    </option>
                </select>
                <img class="exportBtn" src="../../../assets/styles/images/export.png" (click)="export()">
                <img *ngIf="checkedRes.length" class="invoiceBtn" src="../../../assets/styles/images/invoice.png" (click)="invoiceMultiple()">
            </div>
        </div>
    </div>

  

    <div style="display: flex; justify-content: space-between">
       
    
     
    
    </div>
    
    <div class="container" *ngIf='!calendarView'>
        <h2>Reservations</h2>
        <ul class="responsive-table" style='padding:0'  *ngIf="!loading">
          <li class="table-header">
            <div class="col">Name</div>
            <div class="col">Date from</div>
            <div class="col">Date to</div>
            <div class="col">Room Number</div>
            <div class="col">Paid</div>
            <div class="col">Reserved</div>
            <div class="col"></div>
          </li>
          <li class="table-row" *ngFor='let reservation of filteredReservations; index as i'  [ngClass]="{'cancelledRes' : reservation.status === 'cancelled', 'noshowRes' : reservation.status === 'no-show', 'pendingRes' : reservation.status === 'pending'}">
            <div class="col" data-label="Name">
                <input type="checkbox" (change)="includeRes($event, reservation)" style="width: 20px">
                <span>{{ reservation.person.name }}</span>
            </div>
            <div class="col" data-label="Date from">
                <span>{{ formattedDate(reservation.date_from) }}</span>
            </div>
            <div class="col" data-label="Date to">
                <span>{{ formattedDate(reservation.date_to) }}</span>
            </div>
            <div class="col" data-label="Room">
                <span>{{ reservation.room }}</span>
            </div>
            <div class="col" data-label="Paid">
                <span>{{ reservation.payed }}</span>
            </div>
            <div class="col" data-label="Reserved">{{ formattedDateTime(reservation.timestamp) }}</div>
            <div class="col" data-label="Edit">
                <img src="../../../assets/styles/images/edit.png" (click)="editDialog(reservation)">
                <img src="../../../assets/styles/images/trash.png" (click)="deleteRes(reservation.id)">
                <img src="../../../assets/styles/images/invoice.png" (click)="singleInvoice(reservation)">
            </div>
          </li>
        </ul>
        <div *ngIf="loading" class="loading">
            <img src="../../../assets/styles/images/loader1.gif" style="width: 200px;height: 200px">
        </div>
      </div>


      <div *ngIf='calendarView' style='margin: 20px'>
        <table width='100%' class='calendarView' *ngIf="!loading">
            <tr>
                <td></td>
                <td *ngFor='let room of rooms'>{{ room.id }}</td>
            </tr>
            <tr *ngFor = 'let date of dates'>
                <td>
                    {{ date.getDate() }}
                </td>
                <td *ngFor = 'let room of rooms' [attr.id]="'Reservation ' + date.getDate() +'-' + room.id" style="width:5%"  (mouseenter) ="showInfo(date, room.id) "  (mouseleave) ="hideInfo(date, room.id)">
                    <div style="position: relative; display: block;">
                        {{ getReservation(date, room.id) }}
                        <div [attr.id]="'Info ' + date.getDate() +'-' + room.id" style="display: none;">
                            <div class="resInfo" *ngIf="getDayInfo(date, room.id)">
                                {{ getDayInfo(date, room.id)  }}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div *ngIf="loading" class="loading">
            <img src="../../../assets/styles/images/loader1.gif" style="width: 200px;height: 200px">
        </div>
      </div>


            
<div>
    <div id="invoice" style="width: 1000px; height: 1400px; display: none;">
        <div style="padding: 20px">
            <h3 style="border-top: 3px solid lightblue; color: lightblue; padding-top: 5px; margin-bottom: 20px;">INVOICE</h3>
            <div style="display: flex; font-size: 15px; justify-content: space-between;">
                <div style="width: 30%">
                    <p style="margin-bottom:0;font-size: 16px;font-weight: bold;">Vila Srebrno Jezero</p>
                    <p style="margin-bottom:0;">Bungalovska 3, 12220 Veliko Gradiste</p>
                    <p style="margin-bottom:0;">ljiljananikolic3004@gmail.com</p>
                    <p style="margin-bottom:0;">064/2136721</p>
                </div>
                <div style="width: 30%; text-align: center;">
                    <p style="margin-bottom:0;font-size: 16px;font-weight: bold;">Billed To</p>
                    <p style="margin-bottom:0;" id="invoiceName"></p>
                    <p style="margin-bottom:0;" id="invoiceJmbg"></p>
                    <p style="margin-bottom:0;" id="invoicePhone"></p>
                </div>
                <div style="width: 30%">
                    <!-- <div style="display: flex; justify-content:space-between">
                        <p style="margin-bottom:0;font-size: 16px;font-weight: bold;">Reservation Number</p>
                        <p style="margin-bottom:0;" id="invoiceId"></p>
                    </div> -->
                    <div style="display: flex; justify-content:space-evenly">
                        <p style="margin-bottom:0;font-size: 16px;font-weight: bold;">Isue Date</p>
                        <p style="margin-bottom:0;">___________________</p>
                    </div>
                    <div style="display: flex; justify-content:space-evenly">
                        <p style="margin-bottom:0;font-size: 16px;font-weight: bold;">Paid date</p>
                        <p style="margin-bottom:0;">___________________</p>
                    </div>
                </div>
            </div>
            <div class="invoice-table" style="margin-top: 30px;">
                <div style="display: flex; justify-content: space-around; padding: 10px; background-color: lightblue;">
                    <p>Reservation #</p>
                    <p>Room Type</p>
                    <p>Date From</p>
                    <p>Nights</p>
                    <p>RSD / Night</p>
                    <p>Amount (RSD)</p>
                </div>
                <div *ngIf="checkedRes.length">
                    <div *ngFor="let res of checkedRes" style="display: flex; align-items: center; justify-content: space-around; padding: 10px; border-bottom: 2px solid lightgray">
                        <p>{{ res.id }}</p>
                        <p>{{ getRoomType(res.room) }}</p>
                        <p>{{ formattedDate(res.date_from) }}</p>
                        <p>{{ getNights(res.date_from, res.date_to) }}</p>
                        <p>{{ (res.price/getNights(res.date_from, res.date_to)).toFixed(2) }}</p>
                        <p>{{ (res.price).toFixed(2) }}</p>
                    </div>
                </div>
                <div *ngIf="checkedRes.length === 0">
                    <div style="display: flex; align-items: center; justify-content: space-around; padding: 10px; border-bottom: 2px solid lightgray">
                        <p id="invoiceRoomNumber"></p>
                        <p id="invoiceRoomType"></p>
                        <p id="invoiceDateFrom"></p>
                        <p id="invoiceNights"></p>
                        <p id="invoicePricePerNight"></p>
                        <p id="invoicePrice"></p>
                    </div>
                </div>
                <div style="float: right;margin-top: 40px;">
                    <div style="display: flex; justify-content: space-around; width: 400px; padding: 10px; background-color: lightblue;">
                        <p>Total</p>
                        <p>RSD</p>
                        <p *ngIf="checkedRes.length">{{ getTotalPrice('price') }}</p>
                        <p *ngIf="checkedRes.length === 0" id="invoiceTotalPrice"></p>
                    </div>
                    <div style="display: flex; justify-content: space-around; width: 400px; margin-right: 10px; padding: 10px; background-color: skyblue;">
                        <p>Deposit</p>
                        <p>RSD</p>
                        <p *ngIf="checkedRes.length">{{ getTotalPrice('payed') }}</p>
                        <p *ngIf="checkedRes.length === 0" id="invoiceTotalDeposit"></p>
                    </div>
                </div>
                <div style="margin-top: 40px; float:left">
                    <p style="font-size: 20px; width: 100%; font-weight: bold; color: lightblue">Thank you for staying</p>
                </div>
            </div>
        </div>
    </div>
  </div>

</div>



<div class="newDialog">
    <div class="heading" [ngStyle]="{'margin-bottom' : reservationId ? '0' : '20px'}">
        <p class="title">{{ reservationId ? 'Edit' : 'New'}} reservation</p>
        <img src="../../../assets/styles/images/close.jpg" class="close-btn" (click)="unsetReservation()">
    </div>
    <p *ngIf="reservationId" style="display: flex; justify-content: space-between">
        <span>Reservation id: {{ reservationId }}</span>
        <span style="font-weight: 600" [ngStyle]="{'color': status === 'cancelled' ? 'red' : 'rgba(0, 0, 0, 0.5)'}"> {{ status.charAt(0).toUpperCase() + status.slice(1) }} </span>
    </p>
    <div class="newOptions">
        <div class="newOptionsMain">
            <div>
                <p>From:</p>
                <input type='date' class='form-control' [(ngModel)]="dateFrom" name="dateFrom">
                <span style="position: absolute; bottom: 0">{{ msgPriceReq }}</span>
            </div>
            <div>
                <p>To:</p>
                <input type='date' class='form-control' [(ngModel)]="dateTo" name="dateTo">
            </div>
            <div>
                <p>Room type:</p>
                <select [(ngModel)]="roomSelectedType" class='form-control' name="roomSelectedType" (change)="selectRoomType()">
                    <option *ngFor='let room of roomTypes' [value]="room">
                        {{ translations.labels.common[room] }}
                    </option>
                </select>    
            </div>
            <div>
                <p>Room:</p>
                <select [(ngModel)]="roomSelectedId" class='form-control' name="roomSelectedId">
                    <option value="0">
                        Any room
                    </option>
                    <option *ngFor='let room of roomsOfType'>
                        {{ room.id }}
                    </option>
                </select>    
            </div>
            <div>
                <p>Name:</p>
                <input class='form-control' type='text' [(ngModel)]="name" name="name">
            </div>
            <div>
                <p>Email:</p>
                <input class='form-control' type='text' [(ngModel)]="email" name="email">
            </div>
            <div>
                <p>Phone:</p>
                <input class='form-control' type='text' [(ngModel)]="phone" name="phone">
            </div>
            <div>
                <p>Notes:</p>
                <textarea class='form-control' type='text' [(ngModel)]="notes" name="notes"></textarea>
            </div>
            <div>
                <p>Paid:</p>
                <input class='form-control' type='text' [(ngModel)]="paid" name="paid">
            </div>
        </div>
    
        <p class="save" (click)="book()" *ngIf="!reservationId">
            Save
        </p>
        <div *ngIf="reservationId" class="footerBtns">
            <p class="save" (click)="updateRes()">
                Save
            </p>
            <p *ngIf="status === 'approved'" class="cancel" (click)="changeStatus('cancelled')">
                Cancel
            </p>
            <p *ngIf="status === 'approved'" class="noshow" (click)="changeStatus('no-show')">
                No-show
            </p>
            <p *ngIf="status === 'cancelled' || status === 'no-show'" class="approve" 
            (click)="changeStatus('approved')">
                Approve
            </p>
        </div>
      
    </div>
</div>