.newReservationButton {
    position: fixed;
    bottom:30px;
    right:30px;
    border-radius: 50%;
    background-color: lightgray;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .9), 3px 3px 8px white inset;
    padding:15px;
    font-family: cursive;
    font-size: 25px;
    line-height: 15px;
    cursor: pointer;
    z-index: 110;
}

#reservationForm {
    display: none;
    background-color:aliceblue;
    z-index: 110;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .9), 3px 3px 8px white inset;
    position: fixed;
    bottom:100px;
    right:30px;
}


  
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  h2 small {
    font-size: 0.5em;
  }
  
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    text-align: center;
    color:white;
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-header > div {
    width: 15%
  }
  .responsive-table .table-row {
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }

  .responsive-table .table-row > div{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 15%
  }

  .responsive-table .table-row > div > input {
    width: 100%;
    text-align: center;
  }

  .responsive-table .table-row > div > select {
    width: 100%;
    text-align: center;
  }

  .responsive-table .table-row > div > img{
    cursor: pointer;
    height: 20px
  }

  @media all and (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table .table-row {
        display: flex;
        flex-direction: column;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      padding: 10px 0;
    }
    .responsive-table .col:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }

  
.content-container {
    padding-top: 20px;
    padding-left: 220px;
  }



  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #msg-popup {
      position: absolute;
      top:50px;
      right:50px;
      padding:30px;
      z-index: 120;
      background-color:whitesmoke;
      border-radius: 25px;
      border: 2px solid #ccc;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, .9), 3px 3px 8px white inset;
  }

  .hide {
      display: none
  }

  .calendarView tr {
    border: 1px solid gray ;
    text-align: center;  
  }

  .calendarView td {
    border: 1px solid gray   ;
    text-align: center;
  }

  .color-reservation {
      background-color:burlywood;
  }



.exportBtn {
  width: 47px;
  height: 47px;
  cursor: pointer;
}

.invoiceBtn {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.invoice-table p {
  margin-bottom: 0;
  width: 16%;
  text-align: center;
}

.resInfo {
  position:absolute;
  right: 60px;
  bottom: 10px;
  width: 150px;
  padding: 4px;
  background-color: lightblue;
  border-radius: 20px;
  z-index: 100;
  border: 1px solid gray;
  box-shadow: 1px 1px 9px gray;
  white-space: pre-line
}


.newDialog {
  background-color: white;
  box-shadow: -5px 0px 16px 1px lightgrey;
  width: 400px;
  height: 100%;
  position: fixed;
  right: 0;
  top:0;
  padding: 20px;
  overflow-y: scroll;
}

.newDialog > .heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.newDialog > .heading > img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0.8
}

.newDialog > .heading > img:hover {
  opacity: 1;
}

.newDialog > .heading > p {
  font-size: 23px;
  color:gray;
  margin: 0
}


.newOptionsMain > div {
  background-color: rgba(236, 236, 236, 1);
  padding: 15px 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newOptionsMain > div > p {
  color: black;
  font-size: 16px;
  margin-bottom: 5px;
  width: 30%
}

.newOptionsMain > div > input {
  height: 35px;
}

.newOptionsMain > div > select {
  height: 35px;
}

.newOptions > .save {
  cursor: pointer;
  background-color: limegreen;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  /* position: absolute;
  bottom: 0; */
  width: 360px;
  font-weight: 500;
  font-size: 18px;
}


.loading {
  margin:auto;
  text-align: center;
}