<button class='newReservationButton' (click)='showNewReservation()'>
    New Reservation
</button>


<div id='reservationForm'>
    <form>
        From: <input type='date' class='form-control' [(ngModel)]="dateFrom" name="dateFrom">
        To: <input type='date' class='form-control' [(ngModel)]="dateTo" name="dateTo">
        Room: 
        <select [(ngModel)]="roomSelectedId" class='form-control' name="roomSelectedId">
            <option *ngFor='let room of rooms'>
                {{ room.id }}
            </option>
        </select>
        Name: <input class='form-control' type='text' [(ngModel)]="name" name="name">
        Notes: <textarea class='form-control' [(ngModel)]="notes" name="notes"></textarea> <br>
        <input class='form-control' type='button' value='Book' (click)='book()'>
    </form>
</div>



<div class="content-container">

    <div id='msg-popup' class='hide'> {{ message }} </div>


    <div style='display:inline-block; align-items: center;margin-bottom: 30px;'>
        <span style='margin-left:20px'>Calendar View</span>
        <!-- Rounded switch -->
        <label class="switch" style='margin-left:10px; margin-bottom: 0;'>
            <input type="checkbox" [(ngModel)]="calendarView" name="calendarView"> 
            <span class="slider round"></span>
        </label>
    
    </div>

    <div style='display:flex; align-items: center; position:relative; float:right; margin-right: 30px;'>
        <input type='text' class='form-control' 
        style='background: url(../../../assets/styles/images/icons/search.png) no-repeat scroll 7px 7px; padding-left: 50px;'>
        <!-- <img src='../../../assets/styles/images/icons/search.png' width='20px'> -->
    </div>
    
    <div class="container" *ngIf='!calendarView'>
        <h2>Reservations</h2>
        <ul class="responsive-table" style='padding:0'>
          <li class="table-header">
            <div class="col">Name</div>
            <div class="col">Date from</div>
            <div class="col">Date to</div>
            <div class="col">Room Number</div>
            <div class="col">Reserved</div>
          </li>
          <li class="table-row" *ngFor='let reservation of reservations'>
            <div class="col" data-label="Name">{{ reservation.name }}</div>
            <div class="col" data-label="Date from">{{ formattedDate(reservation.date_from) }}</div>
            <div class="col" data-label="Date to">{{ formattedDate(reservation.date_to) }}</div>
            <div class="col" data-label="Room">{{ reservation.room }}</div>
            <div class="col" data-label="Reserved">{{ formattedDateTime(reservation.timestamp) }}</div>
          </li>
        </ul>
      </div>

      <div *ngIf='calendarView' style='margin-left: 20px;margin-right: 20px;'>
        <table width='100%' class='calendarView'>
            <tr>
                <td></td>
                <td *ngFor='let room of rooms'>{{ room.id }}</td>
            </tr>
            <tr *ngFor = 'let date of dates'>
                <td>
                    {{ date.getDate() }}
                </td>
                <td *ngFor = 'let room of rooms' [attr.id]="'Reservation ' + date.getDate() +'-' + room.id">
                    {{ getReservation(date, room.id) }}
                </td>
            </tr>
        </table>
      </div>

</div>
