.newReservationButton {
    position: absolute;
    bottom:30px;
    right:30px;
    border-radius: 25px;
    background-color:blanchedalmond;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .9), 3px 3px 8px white inset;
    padding:15px;
    font-family: cursive;
    font-size: 20px;
    cursor: pointer
}

#reservationForm {
    display: none;
    background-color: rgba(0, 0, 255, 0.3);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .9), 3px 3px 8px white inset;
    position: absolute;
    bottom:100px;
    right:30px;
}


  
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  h2 small {
    font-size: 0.5em;
  }
  
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    text-align: center;
    color:white;
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  /* .responsive-table .col-1 {
    flex-basis: 10%;
  }
  .responsive-table .col-2 {
    flex-basis: 40%;
  }
  .responsive-table .col-3 {
    flex-basis: 25%;
  }
  .responsive-table .col-4 {
    flex-basis: 25%;
  } */
  @media all and (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table .table-row {
        display: flex;
        flex-direction: column;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      padding: 10px 0;
    }
    .responsive-table .col:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }

  
.content-container {
    padding-top: 20px;
    padding-left: 220px;
  }