<div class="site-blocks-cover overlay" style="background-image: url(../assets/styles/images/jezero/j3.jpg);" data-aos="fade"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
                <span class="caption mb-3"></span>
                <h1 class="mb-4">Događaji &amp; Atrakcije</h1>
            </div>
            <div class='detaljnije' onclick='document.getElementById("start").scrollIntoView({behavior: "smooth"});'>
                <h2 class="caption" style='margin:0;cursor:pointer'>DETALJNIJE...</h2><br>
                <i style='cursor:pointer' class='fas fa-angle-double-down'></i>
            </div>
        </div>
    </div>
</div>



<div class="site-section" style='padding-top:5%' id='start'>
    <div class="container-fluid" style='padding-left:5%;padding-right:5%'>



        <ul class="nav nav-tabs justify-content-center" style='margin-bottom:5%;' id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Aktivnosti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Događaji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                    aria-controls="contact" aria-selected="false">Restorani/Kafići</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="turdes-tab" data-toggle="tab" href="#turdes" role="tab" aria-controls="contact"
                    aria-selected="false">Turisticke destinacije</a>
            </li>
        </ul>


        <div class="tab-content" id="myTabContent">

            <!-- Mesta  -->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">
                                <!--<a href="#" class="popup-vimeo image-play">
                  <img src="../assets/styles/images/events/aqua1.jpg" alt="" class="img-fluid">
                </a>-->
                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/events/aqua1.jpg" alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/aqua2.jpg" alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/aqua3.jpg" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/aqua4.jpg" alt="Third slide">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>


                            </div>
                            <h2 class="heading mb-0"><a href="https://www.srebrnojezero.com/aktivnosti/aqua-club/">Aqua
                                    park</a></h2>
                            <span class="mb-3 d-block post-date"></span>
                            <p>
                                Kao najnovija vodena atrakcija otvorena početkom juna 2011. godine je akva klub sa 6
                                vrlo lepo dizajniranih bazena dubine 0.4-1.35m, 2 vodena tobogana, više slapova, dečijih
                                tobogana, vodopada, i sličnim vodenim kombinacijama na površini 2500m<sup>2</sup>.
                                Inače, velika pogodnost je lokacija akva kluba koji se nalazi na samo pedesetak metara
                                od Vile Srebrno jezero.
                                <br><br><a href='https://www.srebrnojezero.com/aktivnosti/aqua-club/'>Saznaj više</a>
                            </p>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/events/boat1.jpg" alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/boat2.jpg" alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/boat3.jpg" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/boat4.jpg" alt="Third slide">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a
                                    href="https://www.srebrnojezero.com/aktivnosti/brod-silver-star/">Krstarenje
                                    Dunavom</a></h2>
                            <span class="mb-3 d-block post-date"></span>
                            <p>
                                Brod Silver Star namenjen je turističkim obilascima duž Dunava a u okruženju Srebrnog
                                jezera. Kapacitet broda je do 200 ljudi (zatvoreni i otvoreni deo). Krstarenje brodom
                                Silver Star pružiće vam nezaboravno iskustvo i zadivljujući poged na dunavsko priobalje.
                            </p>
                            <a href='https://www.srebrnojezero.com/aktivnosti/brod-silver-star/'>Saznaj više</a>
                        </div>
                    </div>



                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/events/minigolf1.jpg"
                                                alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/minigolf2.jpg"
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/minigolf3.jpg"
                                                alt="Third slide">
                                        </div>

                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls3" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls3" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a
                                    href="https://www.srebrnojezero.com/aktivnosti/brod-silver-star/">Mini golf</a></h2>
                            <span class="mb-3 d-block post-date"></span>
                            <p>
                                Za porodičnu ili zabavu u dvoje, mini golf je idealan vid rekreacije koja će vas
                                opustiti, zabaviti ali i podstaći takmičarski duh. Teren za mini golf sadrži 12 polja za
                                igranje.
                            </p>
                            <a href='https://www.srebrnojezero.com/aktivnosti/mini-golf/'>Saznaj više</a>
                        </div>
                    </div>


                </div>



            </div>


            <!--   DOGADJAJI    -->


            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                <div class='row'>

                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="carouselExampleControls4" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/events/fest1.jpg" alt="First slide"
                                                width=''>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/fest2.jpg" alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/fest3.jpg" alt="Third slide">
                                        </div>

                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls4" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls4" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a href="#">Uranak Festival</a></h2>
                            <span class="mb-3 d-block post-date">29.04.2020. - 03.05.2020.</span>
                            <p>Muzički festival, koji će se i ove godine održati u periodu od 30. aprila do 3. maja, na
                                jednom od najlepših izletišta u Srbiji - SREBRNOM JEZERU.
                                Osmišljen je kvalitetan muzički program koji će zadovoljiti svačiji ukus. Na Urban
                                stage-u očekuje vas elektronska škola beogradskog clubinga.
                            </p>
                            <a href='http://www.uranak.org/'>Saznaj više</a>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="carouselExampleControls5" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/events/beans1.jpg" alt="First slide"
                                                width=''>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/beans2.jpg"
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/beans3.jpg" alt="Third slide">
                                        </div>

                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls5" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls5" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a href="#">Pasuljijada</a></h2>
                            <span class="mb-3 d-block post-date">15.08.2020.</span>
                            <p> Pasuljijada je jedna od najpopularnijih manifestacija koja se održava svake godine u
                                gradskom parku pored Dunava. Nije slučajno što se Pasuljijada organizuje baš u Velikom
                                Gradištu, jer najpoznatiji pasulj “Gradištanac”, potiče iz Velikog Gradišta.
                            </p>
                            <a href='http://tovg.org/pasuljijada/'>Saznaj više</a>
                        </div>
                    </div>



                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="carouselExampleControls6" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/events/alaske1.jpg" alt="First slide"
                                                width=''>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/alaske2.jpg"
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/events/alaske3.jpg"
                                                alt="Third slide">
                                        </div>

                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls6" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls6" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a href="#">Alaske večeri</a></h2>
                            <span class="mb-3 d-block post-date">17.07.2020. - 18.07.2020.</span>
                            <p> U dobro poznatom ambijentu cveća i zelenila, tik uz Dunav, u gradištanskom parku, 150
                                kulinara iz čitave Srbije i Rumunije pripremiće neograničene količine riblje čorbe. Za
                                velike meraklije, ali i sve druge koji uživaju u ribljim specijalitetima, kao melem za
                                dušu preporučujemo vrhunsku riblju čorbu koju će imati priliku besplatno da degustiraju
                                svi posetioci manifestacije.
                            </p>
                            <!--<a href='http://tovg.org/pasuljijada/'>Saznaj više</a>-->
                        </div>
                    </div>


                </div>

            </div>




            <!--  Restorani  -->




            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class='row'>

                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="rimini" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/kafici/rimini3.jpg" alt="First slide"
                                                width=''>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/kafici/rimini2.jpg"
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/kafici/rimini1.jpg"
                                                alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/kafici/rimini4.jpg"
                                                alt="Third slide">
                                        </div>

                                    </div>
                                    <a class="carousel-control-prev" href="#rimini" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#rimini" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a href="#">Rimini</a></h2>
                            <span class="mb-3 d-block post-date"></span>
                            <p>Izvanredan italijanski kafe restoran, sa prelepim pogledom i ukusnom hranom. Posebni
                                užitak su njihovi raznovrsni kupovi.
                            </p>

                        </div>
                    </div>


                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="dincic" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/kafici/dincic1.jpg" alt="First slide"
                                                width=''>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/kafici/dincic2.jpg"
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/kafici/dincic3.jpg"
                                                alt="Third slide">
                                        </div>

                                    </div>
                                    <a class="carousel-control-prev" href="#dincic" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#dincic" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a href="#">Restoran Dinčić</a></h2>
                            <span class="mb-3 d-block post-date"></span>
                            <p> Restoran domaće kuhinje. Izuzetan ambijent sa raskošnom baštom i profesionalna usluga.
                            </p>

                        </div>
                    </div>



                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="bb" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">

                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/kafici/bb2.jpg" alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/kafici/bb3.jpg" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/kafici/bb4.jpg" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/kafici/bb5.jpg" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/kafici/bb6.jpg" alt="Third slide">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#bb" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#bb" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a href="#">Beach Bar</a></h2>
                            <span class="mb-3 d-block post-date"></span>
                            <p> Bar na samoj obali jezera gde se svakog petka i vikendom održavaju žurke.
                            </p>
                            <!--<a href='http://tovg.org/pasuljijada/'>Saznaj više</a>-->
                        </div>
                    </div>


                </div>

            </div>



            <!--  Turisticke destinacije  -->




            <div class="tab-pane fade" id="turdes" role="tabpanel" aria-labelledby="turdes-tab">
                <div class='row'>

                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="ram" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/ram1.jpg"
                                                alt="First slide" width=''>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/ram2.jpg"
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/ram3.jpg"
                                                alt="Third slide">
                                        </div>

                                    </div>
                                    <a class="carousel-control-prev" href="#ram" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#ram" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a href="#">Tvrđava Ram</a></h2>
                            <span class="mb-3 d-block post-date"></span>
                            <p> Ovo mesto je naseljavano još od praistorije, a po dolasku Rimljana bilo je deo Dunavskog
                                limesa. Zna se da je 1483. godine po nalogu sultana Bajazita II, na granici sa Ugarskom
                                podignuta tvrđava sa topovskim otvorima, što je Ram učinilo jednom od prvih
                                artiljerijskih tvrđava na ovom području.
                            </p>
                            <a
                                href='https://sr.wikipedia.org/sr-el/%D0%A2%D0%B2%D1%80%D1%92%D0%B0%D0%B2%D0%B0_%D0%A0%D0%B0%D0%BC'>Saznaj
                                više</a>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="gg" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/golubac1.jpg"
                                                alt="First slide" width=''>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/golubac2.jpg"
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/golubac3.jpg"
                                                alt="Third slide">
                                        </div>

                                    </div>
                                    <a class="carousel-control-prev" href="#gg" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#gg" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a href="#">Golubački grad</a></h2>
                            <span class="mb-3 d-block post-date"></span>
                            <p> Smeštena je na visokim liticama, na mestu na kom se reka sužava, na samom ulazu u
                                Đerdapsku klisuru.Golubac je imao burnu istoriju. Tokom srednjeg veka, vodile su se
                                mnoge bitke oko njega, naročito između Osmanskog carstva i Kraljevine Mađarske.
                            </p>
                            <a
                                href='https://sr.wikipedia.org/sr-el/%D0%93%D0%BE%D0%BB%D1%83%D0%B1%D0%B0%D1%87%D0%BA%D0%B8_%D0%93%D1%80%D0%B0%D0%B4'>Saznaj
                                više</a>
                        </div>
                    </div>



                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="viminacijum" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/vim1.jpg"
                                                alt="First slide" width=''>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/vim2.jpg"
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/vim3.jpg"
                                                alt="Third slide">
                                        </div>

                                    </div>
                                    <a class="carousel-control-prev" href="#viminacijum" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#viminacijum" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a href="#">Viminacijum</a></h2>
                            <span class="mb-3 d-block post-date"></span>
                            <p> Viminacijum je arheološko nalazište u blizini Starog Kostolca, 12 km od Požarevca.
                                Rimski vojni logor i grad nastao je u I i trajao do početka VII veka.
                            </p>
                            <a
                                href='https://sr.wikipedia.org/sr/%D0%92%D0%B8%D0%BC%D0%B8%D0%BD%D0%B0%D1%86%D0%B8%D1%98%D1%83%D0%BC'>Saznaj
                                više</a>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="dj" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/dj1.jpg"
                                                alt="First slide" width=''>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/dj2.jpg"
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/dj3.jpg"
                                                alt="Third slide">
                                        </div>

                                    </div>
                                    <a class="carousel-control-prev" href="#dj" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#dj" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a href="#">Nacionalni park Đerdap</a></h2>
                            <span class="mb-3 d-block post-date"></span>
                            <p> Specifičan istorijski razvoj, vrlo povoljna đerdapska klima, složena mreža klisura,
                                kanjona i dubokih uvala, ovaj prostor izdvajaju kao jedinstven evropski rezervat
                                tercijarne flore, vegetacije i faune.
                            </p>
                            <a
                                href='https://sr.wikipedia.org/sr-el/%D0%9D%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D0%BD%D0%B8_%D0%BF%D0%B0%D1%80%D0%BA_%D0%82%D0%B5%D1%80%D0%B4%D0%B0%D0%BF'>Saznaj
                                više</a>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="lpvir" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/lv1.jpg"
                                                alt="First slide" width=''>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/lv2.jpg"
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/lv3.jpg"
                                                alt="Third slide">
                                        </div>

                                    </div>
                                    <a class="carousel-control-prev" href="#lpvir" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#lpvir" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a href="#">Lepenski Vir</a></h2>
                            <span class="mb-3 d-block post-date"></span>
                            <p> Lepenski Vir je mezolitsko i neolitsko nalazište na desnoj obali Dunava u Đerdapskoj
                                klisuri. Buđenje kulture Lepenskog Vira i uspostavljanje njene svojevrsne umetnosti,
                                otpočinje oko 7000. g. stare ere.
                            </p>
                            <a href='https://sh.wikipedia.org/wiki/Lepenski_Vir'>Saznaj više</a>
                        </div>
                    </div>



                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="media-with-text">
                            <div class="img-border-sm mb-4">

                                <div id="tumane" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/tum1.jpg"
                                                alt="First slide" width=''>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/tum2.jpg"
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/tum3.jpg"
                                                alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="../assets/styles/images/destinacije/tum4.jpg"
                                                alt="Third slide">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#tumane" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#tumane" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                            <h2 class="heading mb-0"><a href="#">Manastir Tumane</a></h2>
                            <span class="mb-3 d-block post-date"></span>
                            <p> Manastir Tumane je pravoslavni manastir Eparhije braničevske Srpske pravoslavne crkve.
                                Nalazi u Golubačkoj dolini na samoj obali istoimenog potoka, 12 km udaljen od Golupca.
                            </p>
                            <a href='http://manastirtumane.org/'>Saznaj više</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>