
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="footer-heading mb-4 text-white">O Nama</h3>
          <p>Vila "Srebrno jezero" smeštena je na svega 20m od samog jezera. Njen moderni eksterijer i kompaktnost ponuda vidova rekreacije u samom dvorištu, svakako je nešto što privlači pažnju posetilaca i što ovu vilu izdvaja od ostalih ugostiteljskih objekata na Jezeru.</p>
          <p><a href="about.html" class="btn btn-primary pill text-white px-4">Procitaj više</a></p>
        </div>
        <div class="col-md-2">
          <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Društvene mreže</h3></div>
            <div class="col-md-12">
              <p>
                <a href="https://www.facebook.com/vsrebrnojezeo" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                <!--<a href="#" class="p-2"><span class="icon-twitter"></span></a>
                <a href="#" class="p-2"><span class="icon-instagram"></span></a>-->
                <a href="https://www.instagram.com/vila_srebrno_jezero/?hl=sr" class="p-2"><span class="icon-instagram"></span></a>
              </p>
            </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy; <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All Rights Reserved | This template is made with <i class="icon-heart text-primary" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>  
      </div>
    </div>
  </footer>