<div class="site-wrap">

    <div class="site-blocks-cover overlay"
        style="background-image: url(../assets/styles/images/sobe/2bed_double/3.jpg);" data-aos="fade"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <span class="caption mb-3">{{ translationService.labels.common[roomId].split(' ')[0] }}</span>
                    <h1 class="mb-4">{{ translationService.labels.common.rooms }}</h1>
                </div>
                <div class='detaljnije'
                    onclick='document.getElementById("start").scrollIntoView({behavior: "smooth"});'>
                    <h2 class="caption" style='margin:0;cursor:pointer'>{{ translationService.labels.common.details }}</h2><br>
                    <i style='cursor:pointer' class='fas fa-angle-double-down'></i>
                </div>
            </div>
        </div>
    </div>



    <div class="site-section" id='start'>
        <div class="container-fluid" align='center'>
            <div class="row" align='center'>

                <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                    <h2 class="mb-5">{{ translationService.labels.common[roomId] }}</h2>

                </div>
            </div>


            <ul class="nav nav-tabs justify-content-center" style='margin-bottom:5%;' id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="gal-tab" data-toggle="tab" href="#gal" role="tab" aria-controls="gal"
                        aria-selected="true">{{ translationService.labels.header.gallery }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cenovnik-tab" data-toggle="tab" href="#cenovnik" role="tab"
                        aria-controls="cenovnik" aria-selected="false">{{ translationService.labels.header.pricelist }}</a>
                </li>

            </ul>

            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="gal" role="tabpanel" aria-labelledby="gal-tab">

                    <div class="row">

                        <div class='col-md-1 col-lg-1'></div>
                        <div class="col-md-5 col-lg-5 mb-5">
                            <div class="hotel-room text-center">

                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" style='width:100%;'>

                                        <div *ngFor="let i of numbers10" class="carousel-item" [ngClass]="{'active': i === 0}">
                                            <a href="../assets/styles/images/sobe/{{roomId}}/{{i+1}}.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/{{roomId}}/{{i+1}}.jpg"
                                                    alt="First slide">
                                            </a>
                                        </div>

                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-5 col-lg-5 mb-5" style='margin:0 !important'>
                            <div class="hotel-room text-center">
                            
                                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" style='width:100% !important'>
                             
                                        <div *ngFor="let i of numbers20" class="carousel-item" [ngClass]="{'active': i === 10}">
                                            <a href="../assets/styles/images/sobe/{{roomId}}/{{i+1}}.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/{{roomId}}/{{i+1}}.jpg"
                                                    alt="First slide">
                                            </a>
                                        </div>

                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>



                            </div>
                        </div>

                    </div>
                    <br>

                    <div class='row'>
                        <div class='col-md-1 col-lg-1'></div>
                        <div class='col-md-10 col-lg-10'>
                            <div class='col-md-6 col-lg-6'>
                                <h4 align='center' style='margin-bottom:5%'>Sobni sadržaji</h4>
                            </div>
                            <div class='col-md-6 col-lg-6'>
                                <img src='../assets/styles/images/icons/AC.png' width='10%' style='margin-right:3%; '
                                    onMouseEnter='setTitle("klima uređaj")' onMouseLeave='unsetTitle()'>

                                <img src='../assets/styles/images/icons/safe.png' width='10%' style='margin-right:3%'
                                    onMouseEnter='setTitle("sef")' onMouseLeave='unsetTitle()'>

                                <img src='../assets/styles/images/icons/minibar.png' onMouseEnter='setTitle("minibar")'
                                    onMouseLeave='unsetTitle()' width='10%' style='margin-right:3%'>

                                <img src='../assets/styles/images/icons/tv.png' onMouseEnter='setTitle("TV")'
                                    onMouseLeave='unsetTitle()' width='10%' style='margin-right:3%'>

                                <img src='../assets/styles/images/icons/towels.png' onMouseEnter='setTitle("peškiri")'
                                    onMouseLeave='unsetTitle()' width='10%' style='margin-right:3%'>

                                <img src='../assets/styles/images/icons/terrace.png'
                                    onMouseEnter='setTitle("zajednička terasa")' onMouseLeave='unsetTitle()' width='13%'
                                    style='margin-right:3%'>
                                <br>
                                <span id='klima' style='visibility: hidden;'>initial</span>

                            </div>
                        </div>


                    </div>

                </div>



                <div class="tab-pane fade" id="cenovnik" role="tabpanel" aria-labelledby="cenovnik-tab">

                    <!--<h4 align='center'>Cenovnik</h4>-->
                    <h6 align='center'>{{ translationService.labels.rooms.prices_in_RSD }}</h6><br>
                    <h6 align='center'>{{ translationService.labels.rooms.extra_bed_1 }}</h6>
                    <h6 align='center'>{{ translationService.labels.rooms.extra_bed_2 }}</h6>
                    <br>
                    <div class='pricelist-room'>
                        <div *ngFor="let pl of filteredPricelists" style='border-radius: 25px;'>

                            <div class="name">
                                {{pl.name}}
                            </div>
                            <div class="prices">
                                <div>
                                    <div>1 {{ translationService.labels.rooms.night.toUpperCase() }}</div>
                                    <div>{{ getPriceRangeString(pl) }}/{{ translationService.labels.common.night }}</div>                              
                                </div>
                                <div *ngFor="let rp of rateplans">
                                    <div>{{ rp.name }}</div>
                                    <div>{{ getAdjustedPriceRange(pl, rp) }}/{{ translationService.labels.common.night }}</div>
                                </div>
                                
                            </div>
                        
                        </div>

                    </div>
               </div>
            </div>
            <br><br>
        </div>
    </div>
</div>