<div class="site-wrap">

    <div class="site-blocks-cover overlay"
        style="background-image: url(../assets/styles/images/sobe/dvokrevetne/s7m.jpg);" data-aos="fade"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <span class="caption mb-3">Dvokrevetne</span>
                    <h1 class="mb-4">SOBE</h1>
                </div>
                <div class='detaljnije'
                    onclick='document.getElementById("start").scrollIntoView({behavior: "smooth"});'>
                    <h2 class="caption" style='margin:0;cursor:pointer'>DETALJNIJE...</h2><br>
                    <i style='cursor:pointer' class='fas fa-angle-double-down'></i>
                </div>
            </div>
        </div>
    </div>



    <div class="site-section" id='start'>
        <div class="container-fluid" align='center'>
            <div class="row" align='center'>

                <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                    <h2 class="mb-5">Dvokrevetne sobe</h2>

                </div>
            </div>


            <ul class="nav nav-tabs justify-content-center" style='margin-bottom:5%;' id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="gal-tab" data-toggle="tab" href="#gal" role="tab" aria-controls="gal"
                        aria-selected="true">Galerija</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cenovnik-tab" data-toggle="tab" href="#cenovnik" role="tab"
                        aria-controls="cenovnik" aria-selected="false">Cenovnik</a>
                </li>

            </ul>

            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="gal" role="tabpanel" aria-labelledby="gal-tab">

                    <!--<h4 align='center'>Galerija</h4><br><br>-->
                    <div class="row">

                        <div class='col-md-1 col-lg-1'></div>
                        <div class="col-md-5 col-lg-5 mb-5">
                            <div class="hotel-room text-center">

                                <div class="hotel-room-body" style='background-color:#f0e9e9'>
                                    <h3 class="heading mb-0">Bračne sobe</h3>
                                    <strong class="price"></strong>
                                </div>
                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" style='width:100%;'>
                                        <div class="carousel-item active">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d6.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d6.jpg"
                                                    alt="First slide">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d1.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d1.jpg"
                                                    alt="Second slide">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d3.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d3.jpg"
                                                    alt="Third slide">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d4.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d4.jpg"
                                                    alt="Fourth slide">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d7.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d7.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d8.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d8.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d9.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d9.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d5.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d5.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d10.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d10.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>

                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d11.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d11.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>

                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d12.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d12.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>

                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d13.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d13.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d14.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d14.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/d15.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/d15.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>


                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-5 col-lg-5 mb-5" style='margin:0 !important'>
                            <div class="hotel-room text-center">
                                <div class="hotel-room-body" style='background-color:#f0e9e9'>
                                    <h3 class="heading mb-0">Singl sobe</h3>
                                    <strong class="price"></strong>
                                </div>


                                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" style='width:100% !important'>
                                        <!--<div class="carousel-item active">
                    <a href="../assets/styles/images/sobe/dvokrevetne/s1.jpg" class="image-popup img-opacity">
                    <img class="d-block w-100" src="../assets/styles/images/sobe/dvokrevetne/s1.jpg" alt="First slide">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="../assets/styles/images/sobe/dvokrevetne/s2.jpg" class="image-popup img-opacity">
                        <img class="d-block w-100" src="../assets/styles/images/sobe/dvokrevetne/s2.jpg" alt="Second slide">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="../assets/styles/images/sobe/dvokrevetne/s3.jpg" class="image-popup img-opacity">
                        <img class="d-block w-100" src="../assets/styles/images/sobe/dvokrevetne/s3.jpg" alt="Third slide">
                    </a>
                </div>
                -->
                                        <div class="carousel-item active">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/s5m.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/s5m.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/s6m.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/s6m.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>

                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/s4s.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/s4s.jpg"
                                                    alt="Fourth slide">
                                            </a>
                                        </div>

                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/s7m.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/s7m.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/s8m.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/s8m.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/s9m.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/s9m.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>

                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/s13m.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/s13m.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>

                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/s14m.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/s14m.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>

                                        <div class="carousel-item">
                                            <a href="../assets/styles/images/sobe/dvokrevetne/s15.jpg"
                                                class="image-popup img-opacity">
                                                <img class="d-block w-100"
                                                    src="../assets/styles/images/sobe/dvokrevetne/s15s.jpg"
                                                    alt="Fifth slide">
                                            </a>
                                        </div>


                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls2" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>



                            </div>
                        </div>

                    </div>
                    <br>

                    <div class='row'>
                        <div class='col-md-1 col-lg-1'></div>
                        <div class='col-md-10 col-lg-10'>
                            <div class='col-md-6 col-lg-6'>
                                <h4 align='center' style='margin-bottom:5%'>Sobni sadržaji</h4>
                            </div>
                            <div class='col-md-6 col-lg-6'>
                                <img src='../assets/styles/images/icons/AC.png' width='10%' style='margin-right:3%; '
                                    onMouseEnter='setTitle("klima uređaj")' onMouseLeave='unsetTitle()'>

                                <img src='../assets/styles/images/icons/safe.png' width='10%' style='margin-right:3%'
                                    onMouseEnter='setTitle("sef")' onMouseLeave='unsetTitle()'>

                                <img src='../assets/styles/images/icons/minibar.png' onMouseEnter='setTitle("minibar")'
                                    onMouseLeave='unsetTitle()' width='10%' style='margin-right:3%'>

                                <img src='../assets/styles/images/icons/tv.png' onMouseEnter='setTitle("TV")'
                                    onMouseLeave='unsetTitle()' width='10%' style='margin-right:3%'>

                                <img src='../assets/styles/images/icons/towels.png' onMouseEnter='setTitle("peškiri")'
                                    onMouseLeave='unsetTitle()' width='10%' style='margin-right:3%'>

                                <img src='../assets/styles/images/icons/terrace.png'
                                    onMouseEnter='setTitle("zajednička terasa")' onMouseLeave='unsetTitle()' width='13%'
                                    style='margin-right:3%'>
                                <br>
                                <span id='klima' style='visibility: hidden;'>initial</span>

                            </div>
                        </div>


                    </div>

                </div>



                <div class="tab-pane fade" id="cenovnik" role="tabpanel" aria-labelledby="cenovnik-tab">

                    <!--<h4 align='center'>Cenovnik</h4>-->
                    <h6 align='center'>Cene su izražene u RSD</h6><br>
                    <h6 align='center'>Pomoćni ležaj I - deca do 6 godina - 300 RSD</h6>
                    <h6 align='center'>Pomoćni ležaj II - deca do 6 godina - 200 RSD</h6>
                    <br>
                    <div class='row' style='margin-right:0%'>
                        <div class="col-md-6 col-lg-6 col-sm-12" style='border-radius: 25px;'>

                            <div
                                style='padding:1%;background-color:#c6e2f2;font-weight:bold;color:black;text-align:center;border-radius:15px'>
                                Novogodišnji praznici (31.12.2020. - 03.01.2021.)
                            </div>
                            <div style='padding:2%;background-color:#fcd5ae;color:black;border-radius:20px'>
                                <div style='float:left'>1 NOĆENJE</div>
                                <div style='float:right'>4.400,00/NOĆ</div><br>
                                <div style='float:left'>2 NOĆENJA</div>
                                <div style='float:right'>3.800,00/NOĆ</div><br>
                                <div style='float:left'>3 NOĆENJA</div>
                                <div style='float:right'>3.200,00/NOĆ</div><br>
                                <div style='float:left'>4 NOĆENJA</div>
                                <div style='float:right'>2.800,00/NOĆ</div><br>
                                <div style='float:left'>5 NOĆENJA</div>
                                <div style='float:right'>2.400,00/NOĆ</div><br>
                                <div style='float:left'>6 NOĆENJA</div>
                                <div style='float:right'>2.200,00/NOĆ</div><br>
                                <div style='float:left'>7 NOĆENJA</div>
                                <div style='float:right'>2.000,00/NOĆ</div><br>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-6 col-sm-12" style='border-radius: 25px;'>

                            <div
                                style='padding:1%;background-color:#c6e2f2;font-weight:bold;color:black;text-align:center;border-radius:15px'>
                                Prvomajski praznici (30.04.2021. - 04.05.2021.)
                            </div>
                            <div style='padding:2%;background-color:#fcd5ae;color:black;border-radius:20px'>
                                <div style='float:left'>1 NOĆENJE</div>
                                <div style='float:right'>4.400,00/NOĆ</div><br>
                                <div style='float:left'>2 NOĆENJA</div>
                                <div style='float:right'>3.800,00/NOĆ</div><br>
                                <div style='float:left'>3 NOĆENJA</div>
                                <div style='float:right'>3.200,00/NOĆ</div><br>
                                <div style='float:left'>4 NOĆENJA</div>
                                <div style='float:right'>2.800,00/NOĆ</div><br>
                                <div style='float:left'>5 NOĆENJA</div>
                                <div style='float:right'>2.400,00/NOĆ</div><br>
                                <div style='float:left'>6 NOĆENJA</div>
                                <div style='float:right'>2.200,00/NOĆ</div><br>
                                <div style='float:left'>7 NOĆENJA</div>
                                <div style='float:right'>2.000,00/NOĆ</div><br>
                            </div>

                        </div>



                    </div>
                    <br><br>
                    <div class='row' style='margin-right:0%'>
                        <div class="col-md-6 col-lg-6 col-sm-12" style='border-radius: 25px;'>

                            <div
                                style='padding:1%;background-color:#c6e2f2;font-weight:bold;color:black;text-align:center;border-radius:15px'>
                                Mart/April/Maj
                            </div>
                            <div style='padding:2%;background-color:#fcd5ae;color:black;border-radius:20px'>
                                <div style='float:left'>1 NOĆENJE</div>
                                <div style='float:right'>2.500,00/NOĆ</div><br>
                                <div style='float:left'>2 NOĆENJA</div>
                                <div style='float:right'>2.000,00/NOĆ</div><br>
                                <div style='float:left'>3 i 4 NOĆENJA</div>
                                <div style='float:right'>1.800,00/NOĆ</div><br>
                                <div style='float:left'>5 i 6 NOĆENJA</div>
                                <div style='float:right'>1.600,00/NOĆ</div><br>
                                <div style='float:left'>7 NOĆENJA i preko</div>
                                <div style='float:right'>1.400,00/NOĆ</div><br>
                            </div>

                        </div>
                        <br>
                        <div class="col-md-6 col-lg-6 col-sm-12">

                            <div
                                style='padding:1%;background-color:#c6e2f2;font-weight:bold;color:black;text-align:center;border-radius:15px'>
                                Jun
                            </div>
                            <div style='padding:2%;background-color:#fcd5ae;color:black;border-radius:20px'>
                                <div style='float:left'>1 NOĆENJE</div>
                                <div style='float:right'>3.000,00/NOĆ</div><br>
                                <div style='float:left'>2 NOĆENJA</div>
                                <div style='float:right'>2.200,00/NOĆ</div><br>
                                <div style='float:left'>3 i 4 NOĆENJA</div>
                                <div style='float:right'>2.000,00/NOĆ</div><br>
                                <div style='float:left'>5 i 6 NOĆENJA</div>
                                <div style='float:right'>1.800,00/NOĆ</div><br>
                                <div style='float:left'>7 NOĆENJA i preko</div>
                                <div style='float:right'>1.600,00/NOĆ</div><br>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class='row' style='margin-right:0%'>
                        <div class="col-md-6 col-lg-6 col-sm-12">

                            <div
                                style='padding:1%;background-color:#c6e2f2;font-weight:bold;color:black;text-align:center;border-radius:15px'>
                                Jul
                            </div>
                            <div style='padding:2%;background-color:#fcd5ae;color:black;border-radius:20px'>
                                <div style='float:left'>1 NOĆENJE</div>
                                <div style='float:right'>3.500,00/NOĆ</div><br>
                                <div style='float:left'>2 NOĆENJA</div>
                                <div style='float:right'>2.400,00/NOĆ</div><br>
                                <div style='float:left'>3 i 4 NOĆENJA</div>
                                <div style='float:right'>2.200,00/NOĆ</div><br>
                                <div style='float:left'>5 i 6 NOĆENJA</div>
                                <div style='float:right'>2.000,00/NOĆ</div><br>
                                <div style='float:left'>7 NOĆENJA i preko</div>
                                <div style='float:right'>1.800,00/NOĆ</div><br>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6 col-lg-6 col-sm-12">

                            <div
                                style='padding:1%;background-color:#c6e2f2;font-weight:bold;color:black;text-align:center;border-radius:15px'>
                                Avgust
                            </div>
                            <div style='padding:2%;background-color:#fcd5ae;color:black;border-radius:20px'>
                                <div style='float:left'>1 NOĆENJE</div>
                                <div style='float:right'>4.000,00/NOĆ</div><br>
                                <div style='float:left'>2 NOĆENJA</div>
                                <div style='float:right'>2.600,00/NOĆ</div><br>
                                <div style='float:left'>3 i 4 NOĆENJA</div>
                                <div style='float:right'>2.400,00/NOĆ</div><br>
                                <div style='float:left'>5 i 6 NOĆENJA</div>
                                <div style='float:right'>2.200,00/NOĆ</div><br>
                                <div style='float:left'>7 NOĆENJA i preko</div>
                                <div style='float:right'>2.000,00/NOĆ</div><br>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class='row' style='margin-right:0%'>
                        <div class="col-md-6 col-lg-6 col-sm-12">

                            <div
                                style='padding:1%;background-color:#c6e2f2;font-weight:bold;color:black;text-align:center;border-radius:15px'>
                                Septembar
                            </div>
                            <div style='padding:2%;background-color:#fcd5ae;color:black;border-radius:20px'>
                                <div style='float:left'>1 NOĆENJE</div>
                                <div style='float:right'>2.500,00/NOĆ</div><br>
                                <div style='float:left'>2 NOĆENJA</div>
                                <div style='float:right'>2.000,00/NOĆ</div><br>
                                <div style='float:left'>3 i 4 NOĆENJA</div>
                                <div style='float:right'>1.800,00/NOĆ</div><br>
                                <div style='float:left'>5 i 6 NOĆENJA</div>
                                <div style='float:right'>1.600,00/NOĆ</div><br>
                                <div style='float:left'>7 NOĆENJA i preko</div>
                                <div style='float:right'>1.400,00/NOĆ</div><br>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6 col-lg-6 col-sm-12">

                            <div
                                style='padding:1%;background-color:#c6e2f2;font-weight:bold;color:black;text-align:center;border-radius:15px'>
                                Decembar/Januar/Februar
                            </div>
                            <div style='padding:2%;background-color:#fcd5ae;color:black;border-radius:20px'>
                                <div style='float:left'>1 NOĆENJE</div>
                                <div style='float:right'>4.000,00/NOĆ</div><br>
                                <div style='float:left'>2 NOĆENJA</div>
                                <div style='float:right'>2.600,00/NOĆ</div><br>
                                <div style='float:left'>3 i 4 NOĆENJA</div>
                                <div style='float:right'>2.400,00/NOĆ</div><br>
                                <div style='float:left'>5 i 6 NOĆENJA</div>
                                <div style='float:right'>2.200,00/NOĆ</div><br>
                                <div style='float:left'>7 NOĆENJA i preko</div>
                                <div style='float:right'>2.000,00/NOĆ</div><br>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <br><br>

        </div>
    </div>
</div>