.statisticsContainer {
    margin-left: 250px;
    padding-top: 20px;
}

.charts {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 50px;
    align-items: center;
    margin-right: 40px;
}

.charts h5 {
    text-align: center;
}

.charts canvas {
    background-color: rgba(236, 236, 236, 0.8);
    padding: 15px;
    color: rgb(83, 81, 81);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    box-shadow: 1px 1px 10px rgb(197, 195, 195);
    border: 1px solid rgb(121, 118, 118);
    height: 300px;
    width: 300px
}

.charts > div {
    max-height: 300px;
    max-width: 300px
}