.bookButton {
    border-radius: 25px;
    background: rgba(62, 193, 172, 0.6);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .5), 3px 3px 8px white inset;
    cursor: pointer;
}

.bookButton a {
    color:wheat;
    padding-right: 10px !important
}

.languages {
    position: absolute;
    top:10px;
    right:10px;
    padding:6px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(248, 245, 228, 0.3);
    box-shadow: 1px 1px 2px gray
}

.disabled :not(.not-disabled) {
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.2;
    background: #CCC;
  }