<div id='header'>

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->



    <div class="site-navbar-wrap js-site-navbar bg-white">


        <div class="container-fluid">
            <div class="site-navbar bg-light" style="margin: 15px 0">
                <div class="py-1" style="display: flex; align-items: baseline; justify-content:space-between; margin: 0 40px;">
                    <h2 width="25%" class="site-logo" align='center'><a href="index.html">{{ translations.labels.common.vilasrebrnojezero }}</a></h2>
                     
                    <nav class="site-navigation" role="navigation">
                        <div class="container-fluid" style='padding-left:10px;padding-right:10px'>

                            <div class="d-inline-block d-lg-none  ml-md-0 mr-auto py-3"><a href="index.html"
                                    class="site-menu-toggle js-menu-toggle"><span
                                        class="icon-menu h3"></span></a>
                            </div>
                            <ul class="site-menu js-clone-nav d-none d-lg-block" style="padding-left:0">
                                <li class="active">
                                    <a href="index.html">{{ translations.labels.header.about_us }}</a>
                                </li>
                                <li class="has-children">
                                    <a href="index.html#sobe">{{ translations.labels.header['rooms-prices'] }}</a>
                                    <ul class="dropdown arrow-top">
                                        <li *ngFor="let room of rooms; let i = index" [ngStyle]="{'border-top': i!==0 ? '1px dashed lightgray' : 'none'}">
                                            <a (click)="goToRooms(room)">{{ translations.labels.common[room] }}</a>
                                        </li>

                                        <!-- <li class="has-children">
                                            <a href="index.html#sobe">{{ translations.labels.header.apartments }}</a>
                                            <ul class="dropdown">
                                                <li><a (click)="goToRooms(3)">{{ translations.labels.header.threeperson }}</a></li>
                                                <li><a (click)="goToRooms(4)">{{ translations.labels.header.fourperson }}</a></li>
                                                <li><a (click)="goToRooms('Lux')">{{ translations.labels.header.lux }}</a></li>


                                            </ul>
                                        </li> -->

                                    </ul>
                                </li>

                                <li><a href="events">{{ translations.labels.header.events }}</a></li>
                                <li><a href="gallery">{{ translations.labels.header.gallery }}</a></li>
                                <!-- <li><a class="popup-with-form" href="#test-form">Book A Room</a></li> -->
                                <li><a href="contact">{{ translations.labels.header.contact }}</a></li>
                                <li class='bookButton'>
                                    <a (click)='showBookModal()' style="padding-right: 15px !important;">{{ translations.labels.header.reserve }}</a>
                                </li>

                            </ul>
                        </div>
                    </nav>    
                    
                    <div class='languages'>
                        <div>
                            <img [src]='"../../../assets/styles/images/" + translations.getLanguage() + ".png"'
                            (click)='changeLang(translations.getLanguage())'>
                            <i class="fas fa-angle-down" id='arrowDown' (click)='showOtherFlags()'></i>
                            <i class="fas fa-angle-up" style='display:none' id='arrowUp' (click)='showOtherFlags()'></i>
                        </div>
                        
                        <div id='otherFlags' style='display:none'>
                            <div *ngFor='let lang of translations.getOtherLanguages()'>
                                <img [src]='"../../../assets/styles/images/"+lang+".png"' (click)='changeLang(lang)'>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>