<div id="booking">
    <div class="section-center">
        <div class="container-fluid">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>Make your reservation</h1>
                    </div>
                    <div class='closeBook' (click)='closeBook()'>
                        <img style='width:38px' src='../../../assets/styles/images/icons/x-icon.png'>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="date" required [(ngModel)]='date1' name='date1'>
                                    <span class="form-label">Check In</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="date" required [(ngModel)]='date2' name='date2'>
                                    <span class="form-label">Check out</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type='number' class="form-control" required  [(ngModel)]='adults' name='adults'>
                                    <span class="form-label">Adults</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type='number' class="form-control" required  [(ngModel)]='kids' name='kids'>
                                    <span class="form-label">Extra beds*</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type='number' class="form-control" required  [(ngModel)]='numRooms' name='numRooms'>
                                    <span class="form-label">Number of rooms</span>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                <div class="form-group">
                                    <span class="form-label" style='opacity: 1; top:-5px'>
                                        *Only kids under 6 years old
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="Enter your Email">
                                    <span class="form-label">Email</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="tel" placeholder="Enter you Phone">
                                    <span class="form-label">Phone</span>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-btn">
                            <button class="submit-btn" (click)='redirectTo()' >Proveri Raspoloživost</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script>
    $('.form-control').each(function () {
        floatedLabel($(this));
    });

    $('.form-control').on('input', function () {
        floatedLabel($(this));
    });

    function floatedLabel(input) {
        var $field = input.closest('.form-group');
        if (input.val()) {
            $field.addClass('input-not-empty');
        } else {
            $field.removeClass('input-not-empty');
        }
    }
</script>
